<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329478636497-1113ca4bg13kru99jq0u10g68q3g62e2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329478636497-1113ca4bg13kru99jq0u10g68q3g62e2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>329478636497-mpcsmkn7elno4q832l9boap9ee5qgg3p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKaCKqRwdZpkGewToCXbqZuZJwX8Sfr2s</string>
	<key>GCM_SENDER_ID</key>
	<string>329478636497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>react-native-d7a4a</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-d7a4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329478636497:ios:e594418835881d149416f0</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-d7a4a-default-rtdb.firebaseio.com</string>
</dict>
</plist>